---
import aboutImg from "@/assets/tanjil.webp";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
			<Image
			alt="Tanjil"
			fetchpriority="high"
			loading="eager"
			src={aboutImg}
			width="300"
			height="300"
		/>
		<p>
			Hi, I’m a starter Astro. I’m particularly great for getting you started with your own blogging
			website.
		</p>
	</div>
</PageLayout>
