---
import aboutImg from "@/assets/tanjil.webp";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: "About",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <Image
      alt="Tanjil"
      fetchpriority="high"
      loading="eager"
      src={aboutImg}
      width="300"
      height="300"
    />
    <p>
      Greetings! I'm Md. Tanjil Bhuiyan, a dedicated DevOps engineer hailing
      from the vibrant tech landscape of Bangladesh. With an insatiable passion
      for technology, coding, and the open-source ethos, I traverse the
      ever-evolving realm of IT with fervor.
    </p>
    <p>
      My journey into the world of technology began with an unyielding
      fascination for Linux. Exploring its intricacies, I found myself drawn
      deeper into the realms of automation, infrastructure management, and
      continuous integration/continuous deployment (CI/CD) pipelines. This
      journey led me to embrace the philosophy of DevOps—a harmonious blend of
      development and operations—where I found my true calling.
    </p>
    <p>
      As a DevOps enthusiast, I thrive on optimizing processes, enhancing
      collaboration between teams, and leveraging cutting-edge tools to
      streamline workflows. Whether it's orchestrating containerized
      environments with Kubernetes, crafting robust infrastructure as code (IaC)
      with Terraform, or fine-tuning CI/CD pipelines with Jenkins, I revel in
      the art of building resilient, scalable systems that propel businesses
      forward.
    </p>
    <p>
      In addition to my technical prowess, I am an avid advocate for knowledge
      sharing and community engagement. I actively contribute to open-source
      projects, participate in tech meetups, and mentor aspiring technologists,
      believing in the power of collective learning and collaboration to drive
      innovation.
    </p>
    <p>
      Beyond the confines of technology, I am a fervent believer in continuous
      learning and personal growth. When I'm not immersed in lines of code or
      tinkering with server configurations, you'll find me delving into
      literature, exploring the great outdoors, or savoring a cup of finely
      brewed coffee.
    </p>
    <p>
      Join me on this exhilarating journey through the realms of technology, as
      we harness the power of innovation to shape a brighter, more connected
      future. Let's code, collaborate, and conquer together!
    </p>
  </div>
</PageLayout>
