---
import aboutImg from "@/assets/tanjil.webp";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
  description: "I'm a starter theme for Astro.build",
  title: "About",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <Image
      alt="Tanjil"
      fetchpriority="high"
      loading="eager"
      src={aboutImg}
      width="300"
      height="300"
    />
    <p>
      Hi, I'm Tanjil, a DevOps engineer and technology enthusiast. I'm
      passionate about building innovative solutions that make a positive impact
      on the world. I'm also a lifelong learner, always seeking to expand my
      knowledge and skills.
    </p>
    <p>
      I'm currently working as a DevOps engineer at <b>Brain Station 23</b>.I
      love to learn about technology, programming, and software development. I'm
      also a tech speaker and love to share my knowledge with others. I'm also a
      tech writer and love to write about technology and programming.
    </p>
    <p>Let's code, collaborate, and conquer together!</p>
  </div>
</PageLayout>
